
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wizard News</title>
    <link rel="stylesheet" href="home.css" /> <!-- need public? -->
  </head>

  <body>
    <h1>Article Title Here</h1>


  </body>
</html>