<!-- show a list of all articles w links -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wizard News</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>Wizard News</h1>
    <h4>Articles</h4>
    <% @articles.each do |article| %>
      <p><%= article.title %></p>
      <p><%= article.description %></p>
      <br>
    <% end %>

  </body>
</html>